h1 {
    text-shadow: 6px 2px black;
}
.task, h4, body, h3 {
    color: white;
    padding: 10px;
}
.jumbotron {
    z-index: 1;
    position: relative;
    top: 2px;
    left: 2px;
    right: 2px;
    width: 100%;
}
#section1 h1, #section2 h1, #section3 h1, #section4 h1 {
    padding: 10px;

}
#bg2 {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: url('././images/img1.jpg');
    background-size: cover;
    z-index: 0;
}

div.row {
    overflow-y: hidden;
    margin-top: 0;
    bottom: 0;

}

.nav-pills li a {
    margin: 2px;
    color: white;
}
.nav-pills li a:hover {
    background-color: darkslateblue;
}
footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

body {
    position: relative;
}
div.scrollarea {
    top: 300px;
    height: 900px;
    overflow: auto;

}
nav.col-md-2 {
    font-size: 26px;
    margin-top: 10px;
    position: fixed;
}

div.col-md-9 div {
    height: 250px;
    font-size: 28px;
    margin: 10px auto 0 auto;
}
div.col-md-9 h1, h3, p {
    padding: 0 10px;
}


* img:hover {
    opacity: 0.5;
}

.center-block {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
}

#section1 {color: #fff; background-color: #1e88e5; opacity: 0.7;}
#section2 {color: #fff; background-color: #673ab7; opacity: 0.7;}
#section3 {color: #fff; background-color: #399051; opacity: 0.7;}
#section4 {color: #fff; background-color: #ff9800; opacity: 0.7;}



/*@media */
@media screen and (max-width: 810px) {
    #section1, #section2, #section3, #section4 {
    }
}

@media screen and (max-width: 414px) {
    #section1, #section2, #section3, #section4, div.jumbotron, h1, h3 {
    }

    .nav-pills {

        font-size: 18px;
        opacity: 0.5;
    }

}

@media screen and (max-width: 768px) {
    #section1, #section2, #section3, #section4 {
        height: 30%;
        width: auto;
    }

    div.col-md-9 {
        margin-left: 0;
        float: none;
    }

    [class*="col-md-2"] {
        width: 100%;
    }
}

/*@media screen and (max-width: 768px) {
    /* For mobile phones: */
/*    [class*="col-"] {
        width: 90%;
    }
}
*/


/*small ipad*/
@media screen and (max-width: 768px) {
    #section1, #section2, #section3, #section4, div.scroll, div.jumbotron, h1, h3 {
    }
    #section1 {
        margin-top: 100px;
    }

    [class*="col-5"] {
        float: none;
        padding: 15px;
    }

    nav.col-md-2 {
        position: absolute;
        margin-top: 200px;
        margin-bottom: 30px;
        width: 100%;
    }

    div.col-md-9 {
        margin-top: 30px;
        float: none;
        text-align: center;
        position: absolute;
    }

    .nav-pills {
        justify-content: center;
        font-size: 16px;
        background-color: white;
        opacity: 0.5;
        width: 100%;
        margin-top: 0;
    }
    .nav-pills li {
        display: inline-block;
         }

    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

/*ipad*/
@media screen and (max-width: 1024px) {
        #section1, #section2, #section3, #section4, div.scroll, div.jumbotron, h1, h3 {
        }
    #section1 {
    margin-top: 0;
    }

    [class*="col-9"] {
        float: left;
        padding: 15px;
    }
        nav.col-md-2 {
            float: left;
            margin-top: 0;
        }

        div.col-md-9 {
            margin: 40px auto auto;
            float: none;
            text-align: center;
        }

        .nav-pills {
            display: block;
            justify-content: center;
            font-size: 22px;
            background-color: white;
            opacity: 0.5;
            position: relative;
            width: auto;
            margin-top: 0;
        }
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
/*desktop*/
    @media screen and (min-width: 1025px) {
        .jumbotron h1 {
            font-size: 7em;
        }

        .jumbotron h3 {
            font-size: 3em;
        }
    }
/*contact CSS*/

/*Contact CSS */

body {
    background: linear-gradient(to right, slategrey, #aed4f8, transparent)
}
input[type=text] {
    width: 50%;
    height: auto;
    font-size: 16px;
    padding: 12px 10px;
    margin: 5px 5px;
    display: inline-block;
    border: 1px solid #dddddd;
    border-radius: 2px;
    box-sizing: border-box;
    color: #0a2251;
}
textarea {
    font-size: 20px;
    display: block;
    margin: auto;
    border: 1px solid #dddddd;
    border-radius: 2px;
    box-sizing: border-box;
}
input[type=submit] {
    width: auto;
    font-size: 16px;
    color: #ffffff;
    background-color: #1e23aa;
    padding: 5px 15px;
    margin: 0;
    display: inline-block;
    border: 1px solid #dddddd;
    border-radius: 2px;
    box-sizing: border-box;
}
form {
    color: #0a2251;
    margin: 5px 5px;
}
